@using UsersMatcher.Logic
@model LastFmApiError
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Oops...</title>
</head>
<body>
    <h4>Sorry, something went wrong</h4>
    <p>
        Error code @((int)Model.Code):  @Model.Code 
    </p>
    <p>
        @Model.Message
    </p>
</body>
</html>
