@using UsersMatcher.Logic
@model LastFmApiError
@{ 
    ViewData["Title"] = "Oops...";
}

<h4>Sorry, something went wrong</h4>
<p>
    @Model.StatusCode @Model.Reason
</p>
<p>
    @Model.StackTrace
</p>